menu {
  padding: 0;
  min-width: 240px;
  & .label {
    font-family: "mardoto-bold";
    margin-bottom: 5px;
  }
}

//temporary

menu > span {
  margin-top: 15px;
  opacity: 0.7;
  display: inline-block;
}
menu > span.selected {
  opacity: 1;
  border-bottom: 1px solid black;
}

menu a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

// nav {
//   margin-top: 20px;
//   max-height: 200px;
//   overflow: auto;
//   transition: height 0.5s linear;
//   & a {
//     display: block;
//     text-decoration: none;
//     color: #000000;
//     font-size: 14px;
//     opacity: 0.7;
//   }
//   & a:not(:first-child) {
//     margin: 20px 0;
//   }
//   &::-webkit-scrollbar {
//     width: 2px;
//   }
//   &::-webkit-scrollbar-track {
//     background-color: rgba(0, 0, 0, 0.5);
//   }
//   &::-webkit-scrollbar-thumb {
//     background-color: rgba(0, 0, 0, 0.7);
//   }
// }
// .selected {
//   border-bottom: 1px solid black;
// }
// .accordionIcon {
//   float: right;
//   width: 10px;
//   height: 10px;
//   border-left: 1px solid black;
//   border-bottom: 1px solid black;
//   transform: rotate(-45deg);
//   transition: transform 0.3s linear;
// }
// .option {
//   cursor: pointer;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
// .open {
//   transform: rotate(135deg);
//   margin-top: 7px;
// }
