.form {
  flex: 50%;
  overflow: auto;

  max-height: 100%;
  padding: 180px 10px;
  & > h1 {
    margin-bottom: 125px;
  }
}
.wrapper {
  width: 100%;

  max-width: 560px;
  font-family: "mardoto-regular";
}
.form::-webkit-scrollbar {
  width: 5px;
}
.form::-webkit-scrollbar-track {
  background-color: lightgray;
  border-radius: 3px;
}
.form::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 3px;
}
