.form {
  flex: 50%;
  overflow: auto;

  max-height: 100%;
  padding: 10% 0;
  & > h1 {
    margin-bottom: 125px;
  }
}
.wrapper {
  width: 100%;
  padding-right: 10px;
  max-width: 560px;
}
.form::-webkit-scrollbar {
  width: 5px;
}
.form::-webkit-scrollbar-track {
  background-color: lightgray;
  border-radius: 3px;
}
.form::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 3px;
}
