.textarea {
  display: block;
  position: relative;
  width: 100%;
  margin: 60px 0 90px 0;

  & .textareaLabel {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0;
    transition: all 0.1s linear;
    &.focused {
      top: -25px;
    }
  }

  & textarea {
    width: 100%;
    border: none;
    padding-bottom: 10px;
    outline: none;
    resize: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    &.invalid {
      border-bottom: 1px solid red;
    }
  }
}
