.data-picker-block {
  font-family: inherit;
  width: 100%;
  .input-block {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    > div {
      width: 240px;
    }
  }
  label {
    margin: 0;
  }
}
