.hint {
  position: relative;
  cursor: help;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.hintText {
  position: fixed;
  font-family: "mardoto-regular";
  z-index: 1000;
  padding: 15px;
  display: inline-block;
  // left: 0;
  // top: 0;
  min-width: 100px;
  max-width: 330px;
  transform: translate(-50%, -100%);
  opacity: 1 !important;
  background: #fff8f4 !important;
  border: 1px solid black;
  .tail {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: rotate(45deg) translate(25%, 50%);
    width: 20px;
    height: 20px;
    background: #fff8f4;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
}
.hint--checkbox {
  transform: translate(0%, -100%);
  .tail {
    left: 40px;
  }
}
.hint--radio {
  transform: translate(0%, -100%);
  .tail {
    left: 10px;
  }
}
