.checkbox {
  display: inline-flex;
  border: 1px solid black;
  padding: 12px 12px;
  align-items: center;

  cursor: pointer;

  & .checkmarkContainer {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 17px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid black;
  }
}
