.field-range {
  .field-range__title {
    margin-bottom: 30px;
  }
  label {
    margin-right: 20px;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
  }

  .ageBlock {
    flex: 50%;
    min-width: 80px;
    .age {
      margin-bottom: 12px;
    }
    .output {
      float: right;
    }
  }
}
