.targetGroup {
  width: 100%;
  & .label {
    //font-family: "mardoto-bold";
    margin: 60px 0;
  }
  & .subgroup {
    padding-left: 35px;
    border-left: 1px solid gray;
    &.man {
      margin-bottom: 60px;
    }
    & .percentage {
      margin-bottom: 30px;
    }
  }
  .gender,
  .age {
    margin-bottom: 15px;
  }
  .output {
    float: right;
  }
}
