.field-range {
  .field-range__title {
    margin-bottom: 60px;
  }
  & .subgroup {
    padding-left: 35px;
    border-left: 1px solid gray;
    &.--invalid {
      border-left: 1px solid red;
    }
    &.man {
      margin-bottom: 60px;
    }
    & .percentage {
      margin-bottom: 30px;
    }
  }

  .gender,
  .age {
    margin-bottom: 15px;
  }
  .output {
    float: right;
  }
}
