.sidebar {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10%;
}
.sidebarInner {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}
