.App {
  width: inherit;
  height: inherit;
  background-color: #feebe1;
  display: flex;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #feebe1 inset !important;
  box-shadow: 0 0 0 30px #feebe1 inset !important;
}
