*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "PFCentroSansPro-Regular";

  src: url("./fonts/PFCentroSansPro-Regular.woff2") format("woff2"),
    url("./fonts/PFCentroSansPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "PFCentroSansPro-Bold";

  src: url("./fonts/PFCentroSansPro-Bold.woff2") format("woff2"),
    url("./fonts/PFCentroSansPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "mardoto-bold";

  src: url("./fonts/MARDOTO-BOLD.woff2") format("woff2"),
    url("./fonts/MARDOTO-BOLD.woff") format("woff");
}
@font-face {
  font-family: "mardoto-regular";

  src: url("./fonts/MARDOTO-REGULAR.woff2") format("woff2"),
    url("./fonts/MARDOTO-REGULAR.woff") format("woff");
}

#root {
  width: inherit;
  height: inherit;
  padding: 30px;
  font-family: "PFCentroSansPro-Regular";
}
